<!-- Grid -->
<div class="grid"
     *ngIf="products.length; else empty">
  <eb-product class="grid__item"
              *ngFor="let product of products"
              [product]="product"></eb-product>
</div>

<!-- Empty message -->
<ng-template #empty>
  <div class="empty">No se encontraron productos.</div>
</ng-template>
