<div class="logo">
  <!-- Sidebar toggler icon -->
  <eb-icon name="hamburger"
           (click)="onToggle()"></eb-icon>
  <!-- App name -->
  <strong>EL BARATÓN</strong>
</div>

<div>
  <!-- Cart -->
  <a class="cart-icon"
     [routerLink]="['', { outlets: { aside: ['cart'] } }]"
     title="Tu orden">
    <!-- Items counter -->
    <span *ngIf="orderItems$ | async as count"
          [hidden]="count < 1">{{ count }}</span>
    <!-- Icon -->
    <eb-icon name="cart"></eb-icon>
  </a>
</div>
