@import 'vars';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  height: $header_height;
  padding: 10px 20px;
  border-bottom: 1px solid lighten(black, 90);
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;

  eb-icon {
    margin-right: 1rem;

    @media (min-width: $bp_tablet) {
      display: none;
    }
  }
}

.cart-icon {
  display: block;
  position: relative;

  > span {
    display: block;
    border-radius: 50%;
    background: red;
    color: white;
    width: 14px;
    height: 14px;
    font-size: 8px;
    position: absolute;
    text-align: center;
    padding-top: 3px;
    top: -2px;
    left: -2px;
  }
}
