@import 'vars';

:host {
  display: flex;
  align-items: center;
  border: 1px solid $color_text_light;
  border-radius: $border-radius;
}

.block {
  display: flex;
  width: 30px;
  height: 30px;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.block--btn {
  background: $color_text_light;

  button {
    cursor: pointer;
    background: transparent;
    color: white;
    border: none;
    width: 100%;
    font-size: 1rem;
  }
}

.block--input {
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 0.7em;
  }
}
