<!-- Increase btn -->
<div class="block block--btn"
     [class.disabled]="quantity <= 1">
  <button type="button"
          (click)="update(-1)">-</button>
</div>

<!-- Value -->
<div class="block block--input">
  <span>{{ quantity }}</span>
</div>

<!-- Decrease btn -->
<div class="block block--btn"
     [class.disabled]="quantity >= max">
  <button type="button"
          (click)="update(1)">+</button>
</div>
