<!-- Product -->
<a class="product"
   [class.disabled]="!product.available"
   [routerLink]="['', { outlets: { modal: ['add', product.id] } }]">

  <!-- Product image -->
  <div class="product__image">
    <img [src]="product.image"
         [attr.alt]="product.name"
         class="img__responsive">
  </div>
  <!-- Product data -->
  <div class="product__data">
    <h3>{{ product.name }}</h3>
    <ul>
      <li>Precio: {{ product.price | currency }}</li>
      <li>Cantidad: {{ product.quantity }}</li>
      <li>Disponible: {{ product.available ? 'Si' : 'No' }}</li>
    </ul>
  </div>
</a>
