@import 'vars';

:host {
  display: block;
}

.product {
  display: flex;
  background: darken($color_bg, 10);
  text-decoration: none;
  color: inherit;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.product__data {
  flex: 1 0 70%;
  padding: 10px;
  // font-size: 0.8rem;

  h3 {
    margin: 0 0 0.5em 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.product__image {}
