:host {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
  }
}

form {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  span {
    text-align: right;
    margin-right: 1rem;
  }
}

.image {
  width: 50px;
}

.name {
  margin-left: 0.8em;
}
