<div>
  <div class="image">
    <!-- Product image -->
    <img [src]="item.product.image"
         alt="item.product.name"
         class="img__responsive">
  </div>
  <div>
    <!-- Product name -->
    <strong class="name">{{ item.product.name }}</strong>
    <!-- Remove item from cart -->
    <div class="btn btn--sm btn--link"
         (click)="cartService.remove(item.id)">Eliminar</div>
  </div>
</div>
<div>
  <form [formGroup]="form">
    <!-- Subtotal -->
    <span>{{ item.quantity * item.product.price | currency }}</span>
    <!-- Item quantity -->
    <eb-quantity-control formControlName="quantity"
                         [max]="item.product.quantity"></eb-quantity-control>
  </form>
</div>
