@import 'vars';

.filters {
  display: none;
  padding: 1rem 0;
  margin: 0 -1rem;
  padding: 1rem;
  background: rgba(black, 0.05);

  @media (min-width: $bp_tablet) {
    margin: 0 -3rem;
    padding: 1rem 3rem;
  }

  @media (min-width: $bp_desktop_sm) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -3rem;
    padding: 1rem 3rem;
  }

  &.open {
    display: flex;
    flex-direction: column;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $bp_desktop_sm) {
    justify-content: flex-end;
  }

  eb-icon {
    cursor: pointer;

    @media (min-width: $bp_desktop_sm) {
      display: none;
    }
  }
}

.sorting {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}
