<ng-container *ngIf="products$ | async as products">

  <!-- Filter products form -->
  <form [ngClass]="{'open': isFiltersFormOpen}"
        [formGroup]="formFilters"
        class="filters">

    <!-- Available control -->
    <div class="form-control form-control--switch">
      <label>Disponible</label>
      <input type="checkbox"
             formControlName="available"
             id="switch" /><label for="switch">Disponible</label>
    </div>

    <!-- Price range control -->
    <div class="form-control"
         formGroupName="price">
      <label for="price">Rango de precio</label>
      <div>
        <input type="number"
               min="0"
               formControlName="min">
        <input type="number"
               [min]="formFilters.value.price.min || 0"
               formControlName="max">
      </div>
    </div>

    <!-- Min / Max quantity control -->
    <div class="form-control form-control--range">
      <label for="quantity">Cantidad mínima <small>({{ formFilters.get('quantity').value }})</small></label>
      <input type="range"
             formControlName="quantity"
             [max]="getMaxQuantity(products)">
    </div>
  </form>

  <div class="actions">
    <!-- Toggle filters -->
    <eb-icon name="filters"
             (click)="isFiltersFormOpen = !isFiltersFormOpen"></eb-icon>

    <!-- Sort products form -->
    <form [formGroup]="formSorting"
          class="sorting">
      <select formControlName="orderBy">
        <option [ngValue]="null">Ordenar por</option>
        <option *ngFor="let option of sortingOptions"
                [ngValue]="option">
          {{ option.label }}
        </option>
      </select>
    </form>
  </div>

  <!-- Producs grid -->
  <eb-products-grid [products]="products | filterBy: (filterOptions$ | async) | orderBy: (sortingOptions$ | async)"></eb-products-grid>

</ng-container>
