<ng-container *ngIf="categories$ | async as categories">
  <p><a [routerLink]="['/products']">Todos</a></p>
  <eb-menu-item *ngFor="let category of categories"
                [category]="category"></eb-menu-item>
</ng-container>
