html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  height: 100%;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  color: $color_text;
  background: $color_bg;
}

a {
  color: $color_main;
}

svg {
  fill: $color_text;
}
