@import 'vars';

select,
input[type="text"],
input[type="number"] {
  border: 1px solid rgba(black, 0.3);
  border-radius: 5px;
}

input[type="number"] {
  width: 3rem;
}

input + input {
  margin-left: 0.5rem;
}

label {
  font-weight: bold;
  margin-right: 1rem;
}

.form-control {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0;
}

// Adapted from https://codepen.io/mburnette/pen/LxNxNg
.form-control--switch {

  input[type="checkbox"]{
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label[for] {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
    border-radius: 20px;
    position: relative;
    margin-right: 0;
  }

  label[for]:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 18px;
    transition: 0.3s;
  }

  input:checked + label[for] {
    background: $color_main;
  }

  input:checked + label[for]:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
  }
}

// Adapted by http://danielstern.ca/range.css
.form-control--range {

  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 5px 0;
    background: transparent;
    width: 104px;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
  }

  input[type=range]::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background: $color_main;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(13, 13, 13, 0.11);
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
  }

  input[type=range]::-moz-range-thumb {
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background: $color_main;
    cursor: pointer;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
  }

  input[type=range]::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
  }

  input[type=range]::-ms-thumb {
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background: $color_main;
    cursor: pointer;
    height: 8px;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.2);
  }

  input[type=range]:focus::-ms-fill-upper {
    background: rgba(13, 13, 13, 0.11);
  }

}
