.grid {
  font-size: 0.8rem;

  @media (min-width: $bp_tablet) {
    font-size: 0.6rem;
  }

  @media (min-width: $bp_desktop_md) {
    font-size: 0.8rem;
  }

  @media (min-width: $bp_desktop_xl) {
    font-size: 1rem;
  }
}

.grid__item {
  margin-bottom: 10px;
}

@supports (display: grid) {

  .grid {
    @media (min-width: $bp_tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }

    @media (min-width: $bp_desktop_sm) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: $bp_desktop_xl) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .grid__item {
    @media (min-width: $bp_tablet) {
      margin-bottom: 0;
    }
  }
}
