@import 'vars';

@mixin btnBase($color) {
  cursor: pointer;
  border: 1px solid $color;
  color: white;
  background: $color;
  padding: 0.5em 1em;
  border-radius: $border-radius;

  &[disabled] {
    opacity: 0.5;
  }
}

@mixin btnClose() {
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1rem;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;

  @media (min-width: $bp_tablet) {
    font-size: 1.8rem;
    opacity: 0.5;
  }

  &:hover {
    opacity: 1;
  }
}

@mixin modalBackdrop() {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(black, 0.5);
}
