$color_text: dimgray;
$color_text_light: gray;
$color_main: tomato;
$color_bg: whitesmoke;

$bp_tablet: 768px;
$bp_desktop_sm: 1024px;
$bp_desktop_md: 1280px;
$bp_desktop_lg: 1440px;
$bp_desktop_xl: 1920px;

$header_height: 54px;

$border-radius: 3px;
