<eb-aside>
  <div aside-body
       *ngIf="cartService.store$ | async as cart">
    <header>
      <h2>Tu Orden</h2>
      <strong>Dirección de envío:</strong>&nbsp;<span>Virrey Loreto 1999 14D, Buenos Aires</span>
    </header>
    <div class="body">
      <ul *ngIf="cart.items.length; else empty"
          class="list__unstyled">
        <li @row
            *ngFor="let item of cart.items; trackBy: trackByFn">
          <eb-cart-item [item]="item"></eb-cart-item>
        </li>
      </ul>
      <ng-template #empty>
        <div class="empty">
          <span>Tu canasta está vacía</span>
        </div>
      </ng-template>
    </div>
    <footer>
      <strong>Total: {{ cart.total | currency }}</strong>
      <button [disabled]="!cart.items.length"
              type="button"
              class="btn"
              (click)="cartService.complete(cart)">Comprar</button>
    </footer>
  </div>
</eb-aside>
