@import 'vars';

[aside-body] {
  display: flex;
  flex-direction: column;
  height: 100%;

  > * {
    padding: 20px;
  }
}

h2 {
  margin: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  strong {
    font-size: 1.3rem;
  }
}

.body {
  flex: 1;
  overflow: auto;
  border-top: 3px solid rgba(black, 0.1);
  border-bottom: 3px solid rgba(black, 0.1);
}

li {
  margin: 0 0 5px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(black, 0.05);
}

.empty {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
