@import 'mixins';

:host {
  @include modalBackdrop();
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background: white;
  position: relative;
  overflow: hidden;

  > span {
    @include btnClose();
  }
}
