@import 'vars';

.content {
  display: flex;
  height: 100%;
  overflow: hidden;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: $header_height 1rem 1rem 1rem;
  overflow: auto;
  position: relative;

	@media (min-width: $bp_tablet) {
    z-index: 2;
		min-height: 100vh;
    margin-left: 200px;
    padding: $header_height 2rem 2rem 2rem;
	}
}

aside {
	position: fixed;
	overflow: auto;
	top: 0;
	width: 200px;
	bottom: -100px; // iOS Safari hack
	padding: $header_height 0 100px 0; // iOS Safari hack
	background: darken($color_bg, 10);
	transition: all 300ms ease;
	transform: translate3d(0,0,0);
	transform: translateX(-200px);
	z-index: 1;

	&.is-open {
		transform: translateX(0);
	}

	@media (min-width: $bp_tablet) {
    width: 200px;

    transform: translateX(0);

		&.is-open {
			width: 200px;
		}
	}
}
