<!-- Header -->
<header>
  <!-- No need to declare `isOpen` on the class. -->
  <eb-header (toggleAside)="isOpen = !isOpen"
             sidebar="sidebar"></eb-header>
</header>

<div class="content">
  <!-- Sidebar -->
  <aside (click)="isOpen = false"
         [ngClass]="{'is-open': isOpen}">
    <!-- Categories menu -->
    <eb-menu></eb-menu>
  </aside>

  <main>
    <!-- Main outlet -->
    <router-outlet></router-outlet>
    <!-- Loader -->
    <eb-loading></eb-loading>
  </main>
</div>

<!-- Modal outlet -->
<router-outlet name="modal"></router-outlet>
<!-- Aside outlet -->
<router-outlet name="aside"></router-outlet>
<!-- Icon definitions -->
<eb-icon-defs hidden></eb-icon-defs>
