@import 'vars';

[modal-body] {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  @media (min-width: $bp_tablet) {
    width: 80vw;
    height: auto;
    max-width: 960px;
    flex-direction: row;
  }
}

.image {
  height: 30%;
  overflow: hidden;

  img {
    position: relative;
    top: -50%;
  }

  @media (min-width: $bp_tablet) {
    max-width: 50%;

    img {
      position: inherit;
    }
  }
}

.aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

h2 {
  margin-top: 0;
}

.data {
  flex: 1;
}

form {
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;

  strong {
    font-size: 1.3rem;
    margin-left: 0.5rem;
  }
}
