<eb-modal *ngIf="product$ | async as product">
  <div modal-body>

    <!-- Product image -->
    <div class="image">
      <img [src]="product.image"
           [alt]="product.name"
           class="img__responsive">
    </div>

    <div class="aside">

      <!-- Product data -->
      <div class="data">
        <h2>{{ product.name }}</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, soluta velit voluptatum similique, eum voluptatem sint consectetur obcaecati.</p>
        <ul class="list__unstyled">
          <li><strong>Precio: </strong>{{ product.price | currency }}</li>
          <li><strong>Cantidad: </strong>{{ product.quantity }}</li>
          <li><strong>Disponible: </strong>{{ product.available ? 'Si' : 'No' }}</li>
        </ul>
      </div>

      <!-- Actions -->
      <form [formGroup]="form"
            (ngSubmit)="onSubmit(product, form)">
        <div class="actions">
          <eb-quantity-control formControlName="quantity"
                               [max]="product.quantity"></eb-quantity-control>
          <strong>{{ product.price * form.get('quantity').value | currency }}</strong>
        </div>
        <button [disabled]="!form.valid"
                class="btn">Agregar</button>
      </form>
    </div>
  </div>
</eb-modal>
