@import 'vars';
@import 'mixins';

:host {
  @include modalBackdrop();
  display: flex;
  justify-content: flex-end;
}

aside {
  background: white;
  height: 100%;
  flex: 0 1 100%;
  overflow: hidden;

  > span {
    @include btnClose();
  }

  @media (min-width: $bp_tablet) {
		flex-basis: 480px;
  }
}
