@import 'vars';

[modal-body] {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;

  @media (min-width: $bp_tablet) {
    padding: 20px;
    width: 400px;
    height: 300px;
  }
}
